---

---

<section
  id="inicio"
  class="h-auto bg-center bg-bot bg-cover pb-44 pt-36"
  style="background-image: url(./inicioFondo.png);"
>
  <article class="flex justify-around items-center">
    <h2 class="text-3xl lg:text-7xl font-bold">
      TU
      <span class="text-greenL" style="font-family: montserratBold;">
        ÉXITO</span
      >
      <br />
      COMIENZA
      <br />
      CON
      <span class="text-greenL" style="font-family: montserratBold;">
        NOSOTROS
      </span>
    </h2>
    <span></span>
  </article>
</section>
