---

---

<section
  id="inicio"
  class="h-auto lg:bg-bot lg:bg-cover bg-center py-20"
  style="background-image: url(./inicioFondo.png);"
>
  <article class="flex justify-around items-center">
    <h2 class="text-3xl lg:text-7xl w-1/3 font-bold">
      TU
      <span class="text-greenL" style="font-family: montserratBold;">
        ÉXITO</span
      >
      COMIENZA CON
      <span class="text-greenL" style="font-family: montserratBold;">
        NOSOTROS
      </span>
    </h2>
    <span></span>
  </article>
</section>
