---

---

<section
  class="flex flex-col justify-around h-full p-4 items-center md:flex-row-reverse"
  style="background-image: url(./patronMantenimiento.svg);"
>
  <figure class="w-36 md:w-40 lg:w-56">
    <img class="w-full" src="./compu.svg" alt="computadora en mantenimiento" />
  </figure>
  <article class="text-center">
    <h2
      class="text-3xl lg:text-5xl flex flex-col p-2"
      style="font-family: montserratBold;"
    >
      ESTAMOS EN <span class="text-greenL" style="font-family: montserratBold;"
        >MANTENIMIENTO</span
      >
    </h2>
    <p class="md:text-xl max-w-xl p-2">
      Actualmente estamos realizando labores de mantenimiento y mejoras en
      nuestra web.
    </p>
  </article>
</section>
