<article
  class="flex items-center bg-no-repeat bg-contain bg-right bg-greenL p-8 sm:p-20"
  style="background-image: url(./fondoMision.svg);"
>
  <img
    src="./icons/ICONO_MISION.svg"
    alt="icono de misión"
    class="size-24 hidden sm:block mr-12 lg:size-32"
  />
  <span>
    <h2
      class="text-3xl px-4 lg:text-7xl flex mb-3"
      style="font-family: montserratBold;"
    >
      <img
        src="./icons/ICONO_MISION.svg"
        alt="icono de misión"
        class="w-6 mr-4 sm:hidden"
      />
      MISIÓN
    </h2>
    <p class="text-xl lg:text-3xl px-4">
      Nuestra misión es proporcionar servicios de personal hotelero a nuestros
      clientes brindando
      <span class="font-bold">soluciones efectivas y adaptadas</span>
      a las necesidades de cada sector.
    </p>
  </span>
</article>
