<section id="servicios" class="bg-greenL py-12">
  <h2
    class="text-3xl text-center lg:text-7xl mb-3"
    style="font-family: montserratBold;"
  >
    NUESTROS SERVICIOS
  </h2>
  <p class="text-xl lg:text-3xl sm:px-4 mb-3 m-auto w-10/12">
    Entendemos que cada hotel es único. Por eso, nos especializamos en la
    <span>selección personalizada</span>
    de profesionales que se ajusten a las necesidades específicas de tu establecimiento.
    Contamos con:
  </p>
  <article class="bg-blackL w-11/12 rounded-3xl m-auto p-5">
    <h3 class="text-2xl lg:text-3xl font-bold my-2">HOTELERÍA</h3>
    <ul class="list-disc pl-5">
      <li class="lg:text-2xl">Recepcionistas.</li>
      <li class="lg:text-2xl">Camarero/ras de piso.</li>
      <li class="lg:text-2xl">Camarero/ras Buffet.</li>
      <li class="lg:text-2xl">Camarero/ras de sala.</li>
      <li class="lg:text-2xl">Camarero/ras de barra.</li>
      <li class="lg:text-2xl">Lavandería.</li>
      <li class="lg:text-2xl">Consejería.</li>
      <li class="lg:text-2xl">Socorristas.</li>
      <li class="lg:text-2xl">Mantenimiento.</li>
    </ul>

    <h3 class="text-2xl lg:text-3xl font-bold mt-5 mb-2">SERVICIOS EXTRAS</h3>
    <ul class="list-disc pl-5">
      <li class="lg:text-2xl">Mantenimiento de piscina.</li>
      <li class="lg:text-2xl">Viviendas vacacionales.</li>
      <li class="lg:text-2xl">Limpiezas especiales.</li>
      <li class="lg:text-2xl">Jardinería.</li>
      <li class="lg:text-2xl">Eventos.</li>
    </ul>
  </article>
</section>
