<article
  class="flex items-center bg-no-repeat bg-contain bg-right bg-blackL p-8 sm:p-20"
  style="background-image: url(./fondoValor.svg);"
>
  <img
    src="./icons/ICONO_VALOR.svg"
    alt="icono de misión"
    class="size-24 hidden sm:block mr-6 lg:size-32"
  />
  <span>
    <h2
      class="text-3xl sm:px-4 lg:text-7xl flex mb-3"
      style="font-family: montserratBold;"
    >
      <img
        src="./icons/ICONO_VALOR.svg"
        alt="icono de misión"
        class="w-6 mr-4 sm:hidden"
      />
      VALORES
    </h2>
    <h3 class="text-2xl mt-8 font-bold lg:text-4xl sm:px-4">Compromiso</h3>
    <p class="text-xl lg:text-3xl sm:px-4">
      Nos comprometemos a proporcionar servicios de alta calidad.
    </p>
    <h3 class="text-2xl mt-10 font-bold lg:text-4xl sm:px-4">Familia</h3>
    <p class="text-xl lg:text-3xl sm:px-4">
      Fomentamos un ambiente de trabajo basado en la colaboración, la confianza
      y el apoyo mutuo.
    </p>
    <h3 class="text-2xl mt-10 font-bold lg:text-4xl sm:px-4">Resolutividad</h3>
    <p class="text-xl lg:text-3xl sm:px-4">
      Estamos orientados en la resolución de problemas, abordando los desafíos
      con creatividad y eficacia.
    </p>
    <h3 class="text-2xl mt-10 font-bold lg:text-4xl sm:px-4">Talento</h3>
    <p class="text-xl lg:text-3xl sm:px-4">
      Reconocemos y valoramos el talento de nuestro personal impulsando el
      desarrollo profesional y la capacitación.
    </p>
  </span>
</article>
