<article
  class="flex items-center bg-no-repeat bg-contain bg-right bg-whiteL text-blackL p-8 sm:p-20"
  style="background-image: url(./fondoVision.svg);"
>
  <img
    src="./icons/ICONO_VISION.svg"
    alt="icono de misión"
    class="size-24 hidden sm:block mr-6 lg:size-32"
  />
  <span>
    <h2
      class="text-3xl px-4 lg:text-7xl flex mb-3"
      style="font-family: montserratBold;"
    >
      <img
        src="./icons/ICONO_VISION.svg"
        alt="icono de misión"
        class="w-6 mr-4 sm:hidden"
      />
      VISIÓN
    </h2>
    <p class="text-xl lg:text-3xl px-4">
      Buscamos ser líderes en el mercado, siendo una referencia de
      <span class="font-bold">eficacia, calidad y compromiso</span>
      en la industria hotelera.
    </p>
  </span>
</article>
